#tipAmounts{
  display: none;
}

.radioButtons{
  display: flex;
  overflow: hidden;
}


.radioButtons input {
  display: none;
}


.radioButtons label {
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
}

.radioButtons label:hover {
    cursor: pointer;
}

.radioButtons input:checked + label {
    background-color: #a5dc86;
    box-shadow: none;
}

.radioButtons label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.radioButtons label:last-of-type {
    border-radius: 0 4px 4px 0;
}
